<h2 class="text-center"> Products List </h2>
<div class="d-flex justify-content-center">
    {{#each products}}
        {{#if status}}
            <div class="card borderCard m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Description: {{description}}</p>
                    <p class="card-text">Code: {{code}}</p>
                    <p class="card-text">Category: {{category}}</p>
                    <p class="card-text">Price: ${{price}}</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>