<h1 class="text-center">Administrador</h1>
<div >
    <form class="w-50 m-auto" id="add">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" >
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" >
        </div>
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" name="code" >
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" name="category" >
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" >
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" name="stock" >
        </div>
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-warning">Agregar</button>
        </div>
    </form>
    <div class="d-flex justify-content-center" id="contenedor">
        {{#each products}}
            {{#if status}}
                <div class="card borderCard m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">Description: {{description}}</p>
                        <p class="card-text">Code: {{code}}</p>
                        <p class="card-text">Category: {{category}}</p>
                        <p class="card-text">Price: ${{price}}</p>
                        <p class="card-text">Stock: {{stock}}</p>
                        <button class="btn btn-danger btnErase" data-id="{{id}}">Eliminar</button>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>